<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TASKMAN BACKEND</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css')}}"/>
    <script src="{{ url_for('static', filename='scripts/scripts.js')}}"></script>
    <!-- Optional location. It's usually better to place this before the closing </body> tag -->
  </head><img class ='App-logo' src="static/logo.png" height="25" alt="image-tasks" /><h1>Task Manager Backend Admin</h1>
  <head>
    
  </head>

  <body>
    <p><div class="signup-link">Sign In? <a href="/login">Login now</a></div></p>

 
    <p>Entry Page for adminstration of site and database.</p>
    <p>To build menu for adminstrative functions for backend.</p>
  </body>
</html>
