<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HTML5 Boilerplate</title>
  <link rel="stylesheet" href="styles.css">
  <script src="scripts.js"></script>  <!-- Optional location. It's usually
                                          better to place this before
                                          the closing </body> tag -->
</head>

</head>
<body>
  <h1>Backend Admin</h1>
  <p>
    <img src="afaya.jpg" alt="">
  </p>
  <p>Task DATA.</p>
<p>To build menu for adminstrative functions for backend.</p>
</body>

</html>